

<div style="margin: 0 auto;width:50%;border: 3px solid white">
	<h2>Users</h2>
	<table>
	  <tr>
		<th>User ID</th>
		<th>Email</th> 
		<th>Delete User</th>
	  </tr>
	  <% @users.each do |x| %>
		  <tr>
			<td><%= x.id %></td>
			<td><%= x.email %></td> 
			<td><%= link_to("Delete", x, method: :delete, remote: true, class: "delete-user") %></td>
		  </tr>
	  <% end %>
	</table>
</div>

<div style="margin: 0 auto;width:50%;border: 3px solid white">
	<h2>Waiters</h2>
	<table>
	  <tr>
		<th>Waiter ID</th>
		<th>Email</th> 
		<th>Delete Waiter</th>
	  </tr>
	  <% @waiters.each do |x| %>
		  <tr>
			<td><%= x.id %></td>
			<td><%= x.email %></td> 
			<td><%= link_to("Delete", x, method: :delete, remote: true, class: "delete-waiter") %></td>
		  </tr>
	  <% end %>
	</table>
</div>

<div style="margin: 0 auto;width:50%;border: 3px solid white">
	<h2>Orders</h2>
	<table>
	  <tr>
		<th>Order ID</th>
		<th>Table</th> 
		<th>Delete Order</th>
	  </tr>
	  <% @orders.each do |x| %>
		  <tr>
			<td><%= x.id %></td>
			<td><%= x.table_number %></td> 
			<td><%= link_to("Delete", x, method: :delete, remote: true, class: "delete-order") %></td>
		  </tr>
	  <% end %>
	</table>
</div>

<div style="margin: 0 auto;width:50%;border: 3px solid white">
	<h2>Items</h2>
	<table>
	  <tr>
		<th>Item ID</th>
		<th>Name</th> 
		<th>Price</th>
		<th>Delete Item</th>
	  </tr>
	  <% @items.each do |x| %>
		  <tr>
			<td><%= x.id %></td>
			<td><%= x.name %></td> 
			<td><%= number_to_currency(x.price) %></td> 
			<td><%= link_to("Delete", x, method: :delete, remote: true, class: "delete-item") %></td>
		  </tr>
	  <% end %>
	</table>
</div>

<div style="margin: 0 auto;width:50%;border: 3px solid white">
	<h2>OrderItems</h2>
	<table>
	  <tr>
		<th>ID</th>
		<th>Order ID</th> 
		<th>Item ID</th>
		<th>Delete Record</th>
	  </tr>
	  <% @orderitems.each do |x| %>
		  <tr>
			<td><%= x.id %></td>
			<td><%= x.order_id %></td> 
			<td><%=  x.item_id %></td> 
			<td><%= link_to("Delete", orderitem_path(x), method: :delete, remote: true, class: "delete-orderitem") %></td>
		  </tr>
	  <% end %>
	</table>
</div>
