<h1>currently logged in: </h1>
<%= @user %>

<% if_user_signed_in %>

<li>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</li>
<% else %>
<li>
<%= link_to('Login', new_user_session_path)  %>
<li>
<%= link_to('Show' orders_path, :method => :show) %>

</li>
<% end %>
<br>
</ul>
<% end %>


<div class="main-container">
  <div id="border-wrap">
    <div id="new-order">
      <h1>MENU:</h1>
    </div><!-- new-order title div -->
      <div id="list-items">
        <h2>List of items...</h2>
        <div>
         <% @item.each do |i| %>
         <%= i.name %>
         <%= number_to_currency(i.price) %>
         <% end %>
        </div>
      </div><!-- list-items placeholder div -->
  </div><!-- border-wrap div around new order -->
  <div id="border-wrap">
    <div id="cart">
      <h1>CART:</h1>
    </div><!-- card title div -->
      <div id="order-list">
        <h2>List of orders...</h2>
          Order#/Waiter-Bartender,
          Total Cost (of all orders): $$$ 
      </div><!-- order-list placeholder div -->
  </div><!-- border-wrap div around cart -->
</div>
